[CLI]
# Konfigurasi default Manim ala 3Blue1Brown
frame_rate = 60
pixel_height = 1080
pixel_width = 1920
background_color = #161a1d
background_opacity = 1.0
scene_names = 
format = mp4
write_to_movie = True
save_last_frame = False
preview = False
verbosity = INFO
log_to_file = False
output_file = 
media_dir = ./media
log_dir = ./media/logs
# Pilihan renderer (cairo atau opengl)
renderer = cairo
